.btn
  max-width: 300px
  min-height: 48px
  width: 100%
  border: none
  color: $white
  background-color: $shiraz
  // background-image: linear-gradient(to bottom, $shiraz, $venetian-red)
  font(1.25em, 1.5, 200, uppercase)

  transition: all 0.4s ease-in-out
  
  &:hover
    background-color: $venetian-red

    transition: all 0.4s ease-in-out
    
  &:active
    background-color: $venetian-red