$white = #ffffff
$black = #000000

$dune = #3a3330
$squirrel = #91817a

// Градиент шапки
$linen = #fdf8f5
$soft-peach = #ede3e4

// Градиент кнопки
$venetian-red = #6d0019
$shiraz = #a90329

// Цвет текста
$black-rose = #740225

// Градиент информативного блока
$castro = #530013
// $shiraz

// Цвет в форме
$tan = #cfac82