$tablet = "(min-width: 700px) and (max-width: 1099px)"
$tablet-desktop = "(min-width: 700px)"
$desktop = "(min-width: 1100px)"
$wide-desktop-1 = "(min-width: 1600px)"
$wide-desktop-2 = "(min-width: 2200px)"

// $special = "(min-width: 800px)"
